server:
  port: 9091
spring:
  application:
    name: mcp-server
  ai:
    mcp:
      server:
        enabled: true
        protocol: STREAMABLE
        name: mcp-server
        version: 1.0.0
        type: ASYNC
